* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Optima", sans-serif;
    background-image: url('media/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center center;
    padding: 20px;
}

header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 20;
}


.logo img {
    height: 100px;
    width: auto;
    display: block;
}

.logo a {
    text-decoration: none;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 30px;
    display: flex;
    gap: 25px;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: color 0.1s ease;
}

.main-nav a:hover {
    color: darkgray;
}

.social-icons {
    display: flex;
    gap: 10px
}

.social-icons img {
    height: 24px;
    width: auto;
    display: block;
    gap: 25px;
}

.banner {
    background-color: #3333331b;
    padding: 20px 10px;
    margin-bottom: 20px;

    text-align: center;
}

.banner-content {
    background-color: rgba(0, 0, 0, 0.123);
    box-shadow:10cm;
    color: #ff6b6b;
    font-size: 70px;
    padding: 400px 30px;
    margin: 100px;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.content {
    background-color: rgba(255, 255, 255, 0.700);
    padding: 40px;
}

.articles {
    background-color:rgba(255, 255, 255, 0.700);
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.article {
    background-color: rgba(255, 105, 180, 0.744);
    padding: 100px 30px;
    flex: 1 1 calc(50% - 10px);
    min-width: 100px;
    margin: 0;
}

.navegacion {

    padding: 30px;
    flex-basis: 100%;
}

aside {
    background-color: rgba(255, 255, 255, 0.711);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.publicidad {
    font-size: 25px;
    text-align: center;
    padding: 30px
}

footer {
    background-color:cadetblue;
    padding: 30px;
}

.pie-content {
    background-color:darkkhaki;
    padding: 40px 30px;
}

@media (min-width: 768px) {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .main-nav {
        flex: 1;
    }

    .main-nav ul {
        display: flex;
        justify-content: center;
        gap: 55px
    }
    
    .social {
        flex: 0 1 auto;
        
    }

    nav {
        flex: 1 1 auto;
    }

    .main-wrapper {
        flex-direction: row;
    }

    .content {
        flex: 2;
    }

    aside {
        flex: 1;
    }
}
