* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1200px;
    width: 100%;
}

header {
    background-color: violet;
    padding: 30px;
    width: 100%;
}

.bloque-azul {
    background-color:cornflowerblue;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo, .nav, .social {
    background-color: aqua;
} 

.logo {
    padding: 8px 80px 8px 15px;
}

.nav {
    padding: 8px 8px;
    flex: 1;
}

.social {
    padding: 8px 80px 8px 5px;
}

.bloque-naranja {
    max-width: 1200px;
    background-color:coral;
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    padding: 15px;
}

.bloque-amarillo {
    background-color:khaki;
    width: 100%;
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
}

.content {
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.article-cartas {
    background-color:deepskyblue;
    flex: 1;
    padding: 15px;
}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.article1, .article2, .article3, .article4 {
    background-color:powderblue;
    padding: 8px;
}

.bloque-navegacion {
    background-color:turquoise;
    padding: 8px;
    margin-top: 15px;
}

.publicidad {
    background-color:hotpink;
    padding: 15px;
}

.publicidad1, .publicidad2 {
    background-color:cornsilk;
    padding: 8px 20px 8px 5px;
    gap: 15px;
}

.publicidad2 {
    margin-top: 15px;
}

footer {
    background-color: cadetblue;
    padding: 30px;
}

.pie {
    background-color:blanchedalmond;
    padding: 20px;
}

@media (max-width: 768px) {
    .bloque-azul {
        flex-direction: column;
        align-items: stretch;
    }

    .content {
        flex-direction: column;
        align-items: stretch;
    }
}

@media (max-width: 480px) {
    .articles {
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
    }
}
