*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header, main, footer {
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: black;
    padding: 20px;
    margin-bottom: 15px;
}

main {
    background-color: black;
    margin-bottom: 15px;
}

footer {
    background-color: black;
    padding: 20px;
}

.bloque-azul {
    background-color: rgb(44, 64, 89);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.logo, .nav, .social {
    background-color: rgba(234, 84, 85);
}

.logo {
    padding: 8px 80px 8px 15px;
}

.nav {
    padding: 8px 8px;
    flex: 1;
}

.social {
    padding: 8px 80px 8px 5px;
}

.bloque-naranja {

    background-color: rgba(254, 140, 0);
    margin: 0 auto;
    display: flex;
    margin-top: 20px;
    padding: 15px;
}

.bloque-amarillo {
    background-color: rgba(254, 215, 0);
    width: 100%;
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
}

.content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.article-cartas {
    flex: 1;
}

.articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.article1, .article2, .article3, .article4 {
    background-color: rgb(31, 108, 176);
    padding: 8px;
}

.bloque-navegacion {
    background-color: rgb(113, 163, 196);
    padding: 8px;
    margin-top: 15px;
}

.publicidad {
    background-color: rgb(248, 88, 88);
    padding: 15px;
}

.publicidad1, .publicidad2 {
    background-color: yellow;
    padding: 8px 20px 8px 5px;
    gap: 15px;
}

.publicidad2 {
    margin-top: 15px;
}

.pie {
    background-color: rgba(240, 231, 140);
    padding: 20px;
}

@media (max-width: 768px) {
    .bloque-azul {
        flex-direction: column;
        align-items: stretch;
    }

    .content {
        flex-direction: column;
        align-items: stretch;
    }
}

@media (max-width: 480px) {
    .articles {
        flex-direction: column;
        display: grid;
        grid-template-columns: 1fr;
    }
}